.v2-badge-borrar {
    color: #ff1104;
    background-color: #e8d3a5;
  }

  .v2-badge {
    padding: 3px 8px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    white-space: nowrap;
  }